<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>not-a-POS</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <h1>not-a-POS</h1>
    <div class="container">
      <a href="/views/dailySales/dailySalesForm.html" class="btn" id="dailySales">New Daily Sales</a>
    </div>
    <p>When we start saving daily sales, they will be listed here.</p>
  </body>
  <script src="./renderer.js"></script>
</html>