:root {
    --sans-serif: 'Geneva', sans-serif;
    --serif: 'Big caslon', sans-serif;
    --monospace: "Menlo", monospace;
  
    --font-size-headline: 6rem;
    --font-size-subheadline: 5rem;
    --font-size-1: 3rem;
    --font-size-2: 2.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.25rem;
    --font-size-5: 1rem;
    --font-size-6: 0.875rem;
    --font-size-7: 0.75rem;
  
    --measure: 30em;
    --measure-narrow: 20em;
    --measure-wide: 34em;
  
    --letter-spacing-tight:-.05em;
    --letter-spacing-1:.1em;
    --letter-spacing-2:.25em;
  
    --line-height-solid: 1;
    --line-height-title: 1.25;
    --line-height-copy: 1.5;
  
    --spacing-extra-small: 0.25rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-extra-large: 4rem;
    --spacing-extra-extra-large: 8rem;
    --spacing-extra-extra-extra-large: 16rem;
  
    --border-radius-1: 0.125rem;
    --border-radius-2: 0.25rem;
    --border-radius-3: 0.5rem;
    --border-radius-4: 1rem;
    --border-radius-circle: 100%;
    --border-radius-pill: 9999px;
  
    --box-shadow-1: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 );
    --box-shadow-2: 0px 0px 8px 2px rgba( 0, 0, 0, 0.2 );
    --box-shadow-3: 2px 2px 4px 2px rgba( 0, 0, 0, 0.2 );
    --box-shadow-4: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
    --box-shadow-5: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
  
    --height-1: 1rem;
    --height-2: 2rem;
    --height-3: 4rem;
    --height-4: 8rem;
    --height-5: 16rem;
    --width-1: 1rem;
    --width-2: 2rem;
    --width-3: 4rem;
    --width-4: 8rem;
    --width-5: 16rem;
  
    --max-width-1: 1rem;
    --max-width-2: 2rem;
    --max-width-3: 4rem;
    --max-width-4: 8rem;
    --max-width-5: 16rem;
    --max-width-6: 32rem;
    --max-width-7: 48rem;
    --max-width-8: 64rem;
    --max-width-9: 96rem;
  
    --red-000: #2e1207;
    --red-100: #54180d;
    --red-200: #7c1c0f;
    --red-300: #a81d10;
    --red-400: #d5180f;
    --red-500: #ff2316;
    --red-600: #ff6b4d;
    --red-700: #ff977b;
    --red-800: #ffbca8;
    --red-900: #ffded3;
    --gold-000: #22180b;
    --gold-100: #3c2911;
    --gold-200: #583b14;
    --gold-300: #754d17;
    --gold-400: #946118;
    --gold-500: #b47518;
    --gold-600: #d58a16;
    --gold-700: #f6a017;
    --gold-800: #ffc071;
    --gold-900: #ffe0bb;
    --green-000: #212a11;
    --green-100: #2f3e15;
    --green-200: #3d5317;
    --green-300: #4c6919;
    --green-400: #5b801b;
    --green-500: #6b981b;
    --green-600: #7bb119;
    --green-700: #96c741;
    --green-800: #bcda83;
    --green-900: #dfecc1;
    --teal-000: #162c27;
    --teal-100: #1b4038;
    --teal-200: #1e5449;
    --teal-300: #216a5c;
    --teal-400: #22806f;
    --teal-500: #229782;
    --teal-600: #20ae97;
    --teal-700: #1ac7ab;
    --teal-800: #0fdfc1;
    --teal-900: #93eed9;
    --blue-000: #141a21;
    --blue-100: #1e2e3d;
    --blue-200: #27435b;
    --blue-300: #30597a;
    --blue-400: #38709b;
    --blue-500: #4088be;
    --blue-600: #47a1e2;
    --blue-700: #68b9fb;
    --blue-800: #a3d0fd;
    --blue-900: #d3e7fe;
    --indigo-000: #21132f;
    --indigo-100: #3b1d5a;
    --indigo-200: #56268a;
    --indigo-300: #712fbc;
    --indigo-400: #8e37f1;
    --indigo-500: #a859fc;
    --indigo-600: #bd7cfd;
    --indigo-700: #d09dff;
    --indigo-800: #e1beff;
    --indigo-900: #f1deff;
    --violet-000: #271224;
    --violet-100: #491a44;
    --violet-200: #6d1f65;
    --violet-300: #942289;
    --violet-400: #bc21af;
    --violet-500: #cc51bf;
    --violet-600: #d977cc;
    --violet-700: #e49ad9;
    --violet-800: #efbce6;
    --violet-900: #f7def2;
    --gray-000: #191a1a;
    --gray-100: #2b2d2d;
    --gray-200: #3f4142;
    --gray-300: #535658;
    --gray-400: #696c6e;
    --gray-500: #7f8386;
    --gray-600: #969b9e;
    --gray-700: #afb3b5;
    --gray-800: #c9cccd;
    --gray-900: #e4e5e6;
  }